<div class="container" >
<h1>MONGODB DATABASE</h1>>
<h2>{{title}}</h2>
<table class="table">
    <tr>
        <th>Book Name            </th>
        <th>Image link           </th>
        <th>Summary              </th>
    </tr>>
    {{#each user}}
    <tr>{{this.name}} </tr>>
    <tr>{{this.img}} </tr>>
    <tr>{{this.summary}} </tr>>
    {{/each}}
    </table>
    </div>>     




